body {
    background-color: #faebcc;
    color: #985f0d;
}

.navbar-default{
    background-color: #D9CAAB;
    color: #985f0d;
}
.navbar-default .navbar-brand{
    color: #985f0d;
}
.welcome{

    color: darkslategrey;
    background-image: url("images/wheatfield.jpg");
    background-attachment: fixed;

}
.welcome-message{
    padding-top: 200px;
}

.second{

    color: snow;
    background-image: url("images/forestBench1500.jpg");
    background-attachment: fixed;

}
.second-message{
    padding-top: 150px;
}

.technology{

    color: black;
    background-image: url("images/mountains.jpg");
    background-attachment: scroll;

}
.technology-message{
    padding-top: 75px;
}
.fill-screen{
    background-size: auto;
    background-position: center;
}
#contact-us{
    text-decoration: none;
}
.copyright{
    padding-left: 60px;
}

.coming-soon {
    color: tan;
    font-size: 400%;
    font-family: 'ABeeZee', sans-serif;
    text-align: center;

    margin-top: -40px;
    background-image: url("images/splash1920.jpg");
    background-position: center;
    background-attachment: scroll;
}
.coming-soon h2{
    padding-top: 120px;
    font-size: 200%;
}